/* src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 分页点样式 */
.swiper-pagination {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: rgb(var(--secondary-color-rgb)) !important;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
mark.pink {
	border-bottom: 3px solid rgb(var(--secondary-color-rgb));
	background: none;
	margin: 0 -2px;
	padding: 0 2px;
}
.bg-paper {
	background: linear-gradient(155deg, #f4f2f2, #eeeeee);
	/* border: 2px solid #2c2c2c;  */
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 4px 8px 12px rgba(0, 0, 0, 0.2);
	border-radius: 8px !important;
}
