/* src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 分页点样式 */
.swiper-pagination {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: rgb(var(--secondary-color-rgb)) !important;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

mark.pink {
	border-bottom: 3px solid rgb(var(--secondary-color-rgb));
	background: none;
	margin: 0 -2px;
	padding: 0 2px;
}

.bg-milk {
	background-color: var(--milk-color);
}

/* 确保所有父容器都有合适的高度 */
.container:has(.editor-box) {
	margin: 1rem auto 1rem;
	max-width: 100%;
}
