/* src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 分页点样式 */
.swiper-pagination {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: rgb(var(--secondary-color-rgb)) !important;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
mark.pink {
	border-bottom: 3px solid rgb(var(--secondary-color-rgb));
	background: none;
	margin: 0 -2px;
	padding: 0 2px;
}
.bg-paper {
	background: linear-gradient(155deg, #f4f2f2, #eeeeee);
	/* border: 2px solid #2c2c2c;  */
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 4px 8px 12px rgba(0, 0, 0, 0.2);
	border-radius: 8px !important;
}
.editor-container {
	text-align: left; /* 确保文本和工具栏居左对齐 */
}

.editorjs-container {
	min-height: 100%;
	padding: 10px;
	text-align: left; /* 让编辑器内容默认居左 */
}

.editorjs-container .ce-toolbar__content {
	justify-content: flex-start; /* 让工具栏居左对齐 */
}

.editorjs-container .ce-block__content,
.editorjs-container .ce-paragraph {
	text-align: left !important; /* 确保编辑内容居左 */
	padding: 0em 0;
}
.editorjs-container .ce-header {
	padding: 0.6em 0 !important;
}
.editorjs-container .ce-block b {
	color: rgb(var(--secondary-color-rgb));
}
.editorjs-container .ce-block i {
	font-style: italic;
	color: var(--primary-color);
}

.editorjs-container .ce-block mark {
	background-color: rgba(var(--secondary-color-rgb), 0.3);
}
.editorjs-container .codex-editor__redactor {
	padding-bottom: 100px !important;
}

.container:has(.editor-box) {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.common-capsule {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 12px; /* 等效于 py-4 */
	transition: opacity 0.3s ease, border-radius 0.3s ease; /* 添加过渡效果 */
	cursor: pointer;
	border-color: transparent; /* 初始状态下隐藏边框 */
	margin: 0px auto 0;
	border-radius: 30px;
	/* border: 2px solid rgba(var(--orange-color-rgb), 0.3); */
	box-shadow: 0 4px 10px rgba(0, 0, 255, 0.1);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.common-capsule:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 255, 0.2); /* 悬停时蓝色阴影增强 */
}
