@font-face {
	font-family: "SJFQS"; /* 给字体命名 */
	src: url("/fonts/Exo2-Regular.otf"); /* 引入字体文件路径 */
	font-weight: normal;
	font-style: normal;
	unicode-range: U+4E00-9FFF;
}

:root {
	font-family: "Comic Sans MS", Hannotate SC;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color: #3f51b5;
	--secondary-color: #e8447a;
	--accent-color: #5cc6bb;
	--neutral-color: #505665;
	--base-100-color: #f2f2f2;
	--milk-color: rgb(252, 251, 242);

	/* RGB values for reference */
	--primary-color-rgb: 63, 81, 181;
	--secondary-color-rgb: 232, 68, 122;
	--accent-color-rgb: 92, 198, 187;
	--neutral-color-rgb: 80, 86, 101;
	--base-100-color-rgb: 242, 242, 242;
	--milk-color-rgb: 252, 251, 242;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.modal-white {
	background-color: white !important;
}
